numpy
scipy
Pillow
cython
voila
matplotlib
scikit-image
tensorflow==2.5.0
tornado
opencv-python
h5py
imgaug
IPython[all]
tornado
ipykernel
jupyterlab
notebook
jupyter-tensorboard
jupyter_contrib_nbextensions
tensorflow-cloud
rasterio
earthengine-api